@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 610px) {
  body {
    padding: 6px;
  }
}

img {
  display: block;
}

#intro {
  font-weight: 300;
}

.item {
  padding: 5px;
  border: 1px solid #CCC;
  margin: 1px;
}

.item:hover {
  border-color: #2BA6CB;
}

.item {
  p:first-of-type {
    margin-top: 2px;
  }

  p {
    margin-bottom: 2px;
  }
}

.embed {
  display: none;
}

.column, .columns {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#about {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  text-align: justify;
}
