@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

body {
  font-family: 'Roboto', sans-serif;
}

#intro {
  font-weight: 300;
}

.item {
  padding: 5px;
  border: 1px solid #CCC;
  margin: 1px;
}

.item:hover {
  border-color: #2BA6CB;
}

.item {
  p:first-of-type {
    margin-top: 2px;
  }

  p {
    margin-bottom: 2px;
  }

  img, p {
    width: 342px;
  }
}

.embed {
  display: none;
}

.column, .columns {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
