.item {
  padding: 5px;
  border: 1px solid #CCC;
  margin: 1px;
}

.item:hover {
  border-color: #2BA6CB;
}

.item img, .item p {
  width: 342px;
}

.embed {
  display: none;
}

.column, .columns {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
