<div id="about">
  <a href="/">Back...</a>

  <div>
    <p>This is a simple <a href="https://en.wikipedia.org/wiki/Mood_board">mood board</a> for <a href="http://natwelch.com">Nat</a>. </p> <p>It is pulled from <a href="http://calvin166.deviantart.com/favourites/">his DeviantArt favorites</a>, <a href="https://verygoods.co/icco">his VeryGoods likes</a>, his <a href="http://www.flickr.com/photos/icco/favorites">Flickr favorites</a>, his Instagram Favorites, his <a href="http://dribbble.com/icco">Dribbble likes</a>, and some images from Twitter. The server then provides a random sampling from them as you scroll.</p>

    <p>He originally built this as a way to find inspiration. Nat has found over the years that many people have created great art on dA that is interesting, beautiful, and/or inspiring. By taking a random section of these images, he hopes to find a way to break through things like creative block, and the like.</p>

    <p>See the <a href="http://github.com/icco/inspiration">source</a>.</p>
  </div>
</div>
