<div class="small-12 columns">
  <hr />
  <a href="/">Back...</a>
  <hr />

  <div class="large-7 columns">
    <%= @text %>
  </div>

  <div class="large-3 columns">
    <h5>Top artists favorited</h5>
    <ol>
      <% @stats[0...10].each do |author, count| %>
        <li><a href="http://<%= author %>.deviantart.com" title="deviant art page"><%= author %></a>: <%= count %>
      <% end %>
    </ol>
  </div>
</div>
