<div class="small-12 columns">
  <hr />
  <p>Nat's Inspirational page. <a href="/about">About</a>.</p>
  <hr />
</div>

<div id="container" class="large-12 columns">
  <% @images.each do |url| %>
    <% if @idb.cached? url %>
      <div class="item">
        <a href="<%= url %>">
          <img src="<%= @idb.get_image url %>" />
        </a>
      </div>
    <% else %>
      <div class="embed" data-embed="<%= url %>"></div>
    <% end %>
  <% end %>
</div>

<div class="small-12 columns">
  <hr />
  <p><%= @images.count %> images.</p>
</div>
