<div id="container" class="">
  <div class="item isotope-item" id="intro">
    <p>Nat's Inspiration page.</p>
    <p><a href="/about">About</a>.</p>
    <p>Fetching <%= @images %> random images from the library. The library has <%= @library %> images.</p>
    <p><small>Refresh for more.</small></p>
  </div>
</div>
