<!DOCTYPE html>
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Nat's Inspiration</title>

    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/custom.modernizr.js"></script>
  </head>
  <body>

    <div class="row">
      <div class="large-12 columns">
        <h2>Welcome to Foundation</h2>
        <p>This is version 4.2.3.</p>
        <hr />
      </div>
    </div>

    <div class="row">
      <div id="container" class="large-12 columns">
        <% @images.each do |url| %>
          <div class="item"><img src="<%= url %>" style="max-midth: 200px"></div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <hr />
        <h4>Getting Started</h4>
        <p>We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>
      </div>

      <div class="small-6 columns">
        <hr />
        <h4>Other Resources</h4>
        <p>Once you've exhausted the fun in this document, you should check out:</p>
        <ul class="disc">
          <li><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</li>
          <li><a href="http://github.com/zurb/foundation">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</li>
          <li><a href="http://twitter.com/foundationzurb">@foundationzurb</a><br />Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).</li>
        </ul>
      </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/jquery.isotope.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
      $('#container').isotope({
        itemSelector : '.item',
        layoutMode : 'fitRows'
      });
    </script>
  </body>
</html>
