<!DOCTYPE html>
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Nat's Inspiration</title>

    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/application.css" />

    <script src="js/vendor/custom.modernizr.js"></script>
  </head>
  <body>

    <%= yield %>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/jquery.isotope.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/application.js"></script>
  </body>
</html>
